/* html, */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background: hsl(210, 36%, 96%); */
  /* color: hsl(209, 61%, 16%); */
  background: rgb(0, 22, 1);
  color: #16c784;
  line-height: 1.5;
  font-size: 0.875rem;
  /* margin: 0;
  padding: 0; */
  /* width: 100%; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* horizontal = main
cross = vertical
*/
.header-flexed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.name {
  padding-top: 10px;
  font-size: 45px;
  font-weight: lighter;
  /* width: 1000px; */
  text-align: center;
  margin-right: 40px;
}

.profile {
  text-align: right;
  margin-top: 10px;
  display: flex;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.userIcon{
  font-size: 35px;
}

.btn-profile {
  height: 60px;
  width: 100px;
}

.marketTime {
  text-align: left;
  padding-left: 10px;
  font-size: 25px;
  display: flex;
  margin-top: 10px;
  height: 40px;
}

.timeBtn {
  color: #16c784;
  /* background-color: #16c784; */
}

.portfolio {
  text-align: center;
  border: 1px solid rgb(0, 85, 4);
  /* background: rgb(3, 34, 5); */
  background: rgb(0, 41, 2);
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  /* width: 1000px; */
  /* https://stackoverflow.com/questions/1709442/make-divs-height-expand-with-its-content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 1vh;
  /* grows as it fills :o */
}

.totalValue {
  font-size: 45px;
}

.percent {
  font-size: 30px;
}

.assetList {
  text-align: center;
  border: 1px solid red;
}

.asset {
  text-align: center;
  border: 1px solid red;
  /* width: 1000px; */
}

.assetCategory {
  /* width: 15%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* padding-left: 1%; */
}

.btn-back {
  margin-top: 10px;
  margin-left: 10px;
  background-color: rgb(0, 58, 133);
}

.btn-settings {
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-category {
  width: 80%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(0, 58, 133);
}

.cryptoAssets {
  text-align: center;
  font-size: 30px;
  color: #3ac03a;

  border-bottom: 1px solid rgb(0, 255, 242);
  /* width: 1000px; */
}

.singleCrypto {
  border: 1px solid rgb(0, 255, 242);

  /* height: 100px; */
  width: 1000px;
  /* color: #3ac03a; */
}
/*  */
.item-info header {
  display: flex;
  justify-content: center;
  border-bottom: 0.5px dotted rgb(0, 195, 255);
}

.menu-item {
  display: grid;
  max-width: 30rem;
  margin-bottom: 0.5rem;
}
/*  */
.stockAssets {
  text-align: center;
  font-size: 30px;
  color: #16c78c;

  border-bottom: 1px solid rgb(0, 255, 106);
  /* width: 1000px; */
}

.singleStock {
  height: 100px;
  color: #16c78c;

  /* width: 1000px; */
}

.assetUpdater {
  text-align: center;
  background: rgb(3, 34, 5);
  border: 1px solid rgb(5, 59, 9);
  margin-top: 50px;
  height: 250px;
  /* width: 1000px; */
  margin-right: 10%;
  margin-left: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
